name: Increment Development Version

on:
  push:
    tags:
      - 'v*'

jobs:
  update-version:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: '8'  
          distribution: 'temurin'

      - name: Get current version from tag
        run: |
          echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Increment development version
        run: |
          new_version=$(echo "${VERSION%.*}.$((${VERSION##*.} + 1))-SNAPSHOT")
          mvn versions:set -DnewVersion=$new_version
        env:
          VERSION: ${{ env.VERSION }}

      - name: Commit and push new version
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git checkout main
          git add pom.xml
          git commit -m "Bump development version to $new_version"
          git push origin main  
        env:
          new_version: ${{ steps.extract_version.outputs.new_version }}   
